{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}
<div class="container my-3">
    <div class="bg-light p-5 rounded">
        <h1>Welcome to iCoder</h1>
        <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll,
            this navbar remains in its original position and moves with the rest of the page.</p><hr>
        <a class="btn btn-lg btn-primary" href="/blog" role="button">Go to Blog &raquo;</a>
    </div>
</div>
<div class="container my-3">
    <h2>Popular BlogPosts:</h2>
    <!-- <div class="row mb-2"> -->
        <!-- <div class="col-md-6"> -->
            <div class="row g-0 border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">Featured post</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                </div>
            </div>
        <!-- </div> -->
    <!-- </div> -->
</div>
{% endblock body %}